<div class="" let i = "index" class="card" style="width: 18rem; display: inline-block;padding:0.5rem; margin: 0.5rem;">
    <img [src]="productDetails.images[0]" class="card-img-top" [alt]="productDetails.title" style="width: 100px; height: 100px;">
    <!-- <img [src]="productDetails.images[1]" class="card-img-top" [alt]="productDetails.title" style="width: 100px; height: 100px;">
    <img [src]="productDetails.images[2]" class="card-img-top" [alt]="productDetails.title" style="width: 100px; height: 100px;">
    <img [src]="productDetails.images[3]" class="card-img-top" [alt]="productDetails.title" style="width: 100px; height: 100px;">
    <img [src]="productDetails.images[4]" class="card-img-top" [alt]="productDetails.title" style="width: 100px; height: 100px;"> -->
    <div class="">
        <a>{{productDetails.title}}</a>
        <p>{{productDetails.description}}</p>
        <!-- <p>{{productDetails.brand}}</p> -->
        <p>price:{{productDetails.price}}</p>
        <p>discount:{{productDetails.discountPercentage}}</p>
        <p>stock:{{productDetails.stock}}</p>
        <button type="button" class="btn btn-success"(click)="addTocart()" >Add to Cart</button>
    </div>
</div>  