<div>
    <input type="search" (keyup)="search()" [(ngModel)]="query">
</div>


<div class="" *ngFor="let product of products; let i = index" class="card" style="width: 18rem; display: inline-block;padding:0.5rem; margin: 0.5rem;">
    <img [src]="product.images[0]" class="card-img-top" [alt]="product.title" style="width: 100px; height: 100px;">
    <div class="">
        <a routerLink="/product/{{product.id}}/{{product.title}}">{{product.title}}</a>
        <p>{{product.description}}</p>
        <button type="button" class="btn btn-success" (click)="addTocart(i)">Add to Cart</button>
    </div>
</div>
<!-- <app-global-loader [loader]="loader"></app-global-loader> -->
<app-product-skeleton-loader [loader]="loader"></app-product-skeleton-loader>
<div *ngIf="!loader && products.length === 0">
    <app-not-found [msg]="'Product not found. Please try again later!'"></app-not-found>
</div>