<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">E-cart</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div  class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="user">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="client/profile">profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="client/cart">cart</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit" (click)="search()">Search</button>
        </form>
        <ng-template #loggedInUser>
          <!-- Display user name when logged in -->
          <!-- <div>{{ userName }}</div> -->
          <button (click)="logout()">Logout</button>
        </ng-template>
      </div>
    </div>
</nav>

<div>
  <div *ngIf="!isLoggedIn; else loggedInUser">
    <!-- Display login button when not logged in -->
    <!-- <button (click)="login()">Login</button> -->
  </div>
  <ng-template #loggedInUser>
    <!-- Display user name when logged in -->
    <!-- <div>{{ userName }}</div> -->
    <button (click)="logout()">Logout</button>
  </ng-template>
</div>