<div class="card" style="width: 30rem;">
    <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
            <h3>Login</h3>
            <div class="mb-3">
              <label for="username" class="form-label">Email address</label>
              <input type="email" class="form-control" id="username" formControlName="username">
              <div class="form-text" *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.dirty">Please enter a proper username</div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" formControlName="password">
              <div class="form-text" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.dirty">Please enter a proper password</div>
            </div>
            <div class="mb-3 form-check">
              <a class="form-check-label" routerLink="/user/register">Register</a>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>