<div class="card" style="width: 30rem;">
    <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
            <h3>Login</h3>
            <div class="mb-3">
              <label for="username" class="form-label">Email address</label>
              <input type="email" class="form-control" id="username" formControlName="username">
              <div class="form-text" *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.dirty">Please enter a proper username</div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" formControlName="password">
              <div class="form-text" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.dirty">Please enter a proper password</div>
            </div>
            <span *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">Password is required</span>
            <div class="mb-3 form-check">
              <a class="form-check-label" routerLink="/user/register">Register</a>
            </div>
            <button type="submit" class="btn btn-primary"[disabled]="!loginForm.valid">Submit</button>
        </form>
    </div>
</div>

<!-- <br /><br /><br /><br /><br /> -->

<!-- <form >
  <div class="mb-3" #loginForms="ngForm" (ngSubmit)="addCustomerForm(loginForms)">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name ="email" [(ngModel)]="email" >
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->